.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(170, 127, 78, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: black;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
   
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

  .header-text{
    position: relative;
    text-align: center;
    background-color: rgba(170, 127, 78, .80);;
    border-radius: 10px;
  }

  .sub-header{
    background-color: #AA7F4E;
    position: relative;
    height: 40px;
    text-align: center;
  }

  .button_buy{
    text-align: center;
    bottom: -15%;
    width: 70%;
    background-color: #FFEBCC;
    color: black;
    border: beige;
    border-width: 1px;
  }

  .button_buy:hover{
    background-color: #AA7F4E;
    border: beige;
    border-width: 1px;
  }

  *{
    font-family: Palatino;
    color: lightgray;
  }

  .txt_size{
    position: relative;
    text-align: center;
    bottom: -15%;
    background-color: rgba(170, 127, 78, .90);;
    height: auto;
    border-radius: 10px;
  }
  .txt_size p {
    font-size: 125%;
  }


  /*
PAYBAR
  */
  .paybar{
    position: relative;
    background-color: rgba(170, 127, 78, .90);
    height: auto;
    width: auto;
    top: 5px;
    border-radius: 5px;
    color: black;
  }
  .paybar a{
    position: relative;
    color: whitesmoke;
    background-color: black;
    width: 100%;
    border: transparent;
    text-align: center;
  }
  .paybar a:hover{
    background-color: white;
    color: black;
  }

  .paybar b{
    position: relative;
    color: whitesmoke;
    background-color: transparent;
    width: 10%;
    height: auto;
    border: transparent;
    text-align: center;
    right: -90%;
    top: 0px;
    font-size: 10px;
  }

  .paybar b:hover{
    background-color: transparent;
    color: red;
  }

  .paybar input{
    position: relative;
    border-radius: 5px;
    text-align: left;
    width: 10%;
    color: black;
  }

  li{
    color: black;
  }